<!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep">Category: {{title}}</h1>
                <p class="lead">Dolor similique vitae. Exercitationem quidem occaecati iusto. Id non vitae enim quas error dolor maiores ut. Exercitationem earum ut repudiandae optio veritatis animi nulla qui dolores.</p>
            </div>
        </div>
        
        <div class="row entries-wrap add-top-padding wide">
            <div class="entries">
                <!--     ------------------------------- Card  IN -----------------------------------------------------------------     -->
                {{#each post.results}}

                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb resize">
                                <a href="/users/single/{{this.id}}" class="item-entry__thumb-link">
                                    <img src="{{this.imgRec.data}}"  alt="{{this.imgRec.name}}">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="/xxxxxxxx">{{this.category}}</a>
                                </div>

                                <h1 class="item-entry__title"><a href="/users/single/{{this.id}}">{{this.title}}</a></h1>

                                <div class="item-entry__date">
                                    <a href="/users/single/{{this.id}}">{{this.date}}</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->

                    </article> <!-- end article -->

                {{/each}}
                <!--     ------------------------------- Card  OUT -----------------------------------------------------------------     -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <!--    Pagination    -->
        <div id = "vue-pagination">
            <div class="row pagination-wrap">
                <div class="col-full">
                    <nav class="pgn" data-aos="fade-up">
                        <ul>
                            <li v-show={{post.previous.page}}>
                                <a class="pgn__prev" href="/show?page={{post.previous.page}}">Prev</a>
                            </li>

                            {{#each series}}
                                <li v-if=" '{{this}}' == '...' " >
                                    <a class="pgn__num dots" href="/show?page={{../jump}}">…</a>
                                </li>

                                <li v-else>
                                    <a v-if=" '{{this}}'=='{{../highlight}}'"  class="pgn__num current">
                                        {{this}}
                                    </a>
                                    <a v-else    class="pgn__num"  href="/show?page={{this}}"   >
                                    {{this}}
                                    </a>
                                </li>
                            {{/each}}
                            <li v-show={{post.next.page}}>
                                <a class="pgn__next" href="/show?page={{post.next.page}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


        <script>
            var app = new Vue({
                el: '#vue-pagination',
                data: {
                    message: 'Hello Vue!'
                }
            })
        </script>

    </section> <!-- end s-content -->


    <!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    {{#each popular}}

                    <article class="col-block popular__post">
                        <a href="/users/single/{{this._id}}" class="popular__thumb">
                            <img src="{{this.img.data}}" alt="{{this.img.type}}">
                        </a>
                        <a href="/users/single/{{this._id}}">  <h5> {{this.title}}</h5> </a>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a  href="/users/show/{{this.author}}?page=1">{{this.author_name}}</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2018-06-14">{{this.date}}</time></span>
                        </section>
                    </article>

                  {{/each}}

                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Categories</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Lifestyle</a></li>
                            <li><a href="#0">Travel</a></li>
                            <li><a href="#0">Recipes</a></li>
                            <li><a href="#0">Management</a></li>
                            <li><a href="#0">Health</a></li>
                            <li><a href="#0">Creativity</a></li>
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Links</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Home</a></li>
                            <li><a href="#0">Blog</a></li>
                            <li><a href="#0">Styles</a></li>
                            <li><a href="#0">About</a></li>
                            <li><a href="#0">Contact</a></li>
                            <li><a href="#0">Privacy Policy</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-extra -->
